@model PagedResult<ShoppingCart>

<h2>Shopping Carts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Cart ID</th>
            <th>User Name</th>
            <th>Total Quantity</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
