@model PagedResult<OrderProduct>

<h2>Categories</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderProduct in Model.Results)
        {
            <tr>
                <td>@orderProduct.Product.Name</td>
                <td>@orderProduct.Quantity</td>
                <td>@orderProduct.Price</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @(await Component.InvokeAsync<PagerViewComponent>(Model))
</div>
